@font-face {
    font-family: 'SFProDisplay';
    src: url('../fonts/SFProDisplay-Regular.woff2') format('woff2'),
    url('../fonts/SFProDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFUIText';
    src: url('../fonts/SFUIText-Regular.woff2') format('woff2'),
    url('../fonts/SFUIText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFUITextMedium';
    src: url('../fonts/SFUIText-Medium.woff2') format('woff2'),
    url('../fonts/SFUIText-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
    url('../fonts/OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/OpenSans-Regular.woff') format('woff');
}

* {
    box-sizing: border-box;
}

body {
    font-family: SFUIText, Arial, sans-serif;
    font-size: 16px;
    line-height: 19px;
    overflow-x: hidden;
}

.wrapper {
    margin: 0 auto;
    max-width: 1440px;
}

.container {
    max-width: 1240px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 15px;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
